{% extends "base.html" %}
{% block content %}
<div class="col-sm-8 blog-main">
<div class="row">
  <div class="col-m-10">
    {% if instance.image %}
      <img src='{{ instance.image.url }}' class="img-fluid" alt="Responsive image" >
      {% endif %} 
      <div class="caption post-detail-item">
        <h3>{{ instance.title }}</h3><small>{{ instance.timestamp|timesince }} ago</small></br>
        <p style="text-align: center;">{{ instance.get_markdown }}</p><hr/>
    </div>
  </div>
</div>
</div>
		
{% endblock content %}

<!--  <ul style="center">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ request.build_absolute_uri }}&source={{ request.build_absolute_uri }}"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/home?status={{ request.build_absolute_uri }}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-google-plus"></i> </a></li>
 </ul>
 -->